/*------------------------------------*\
    #VARS
\*------------------------------------*/
/**
 * Generic, non-specific variables.
 */
$base--font-size:       16px;
$base--line-height:     24px;

$show-baseline-grid:    false;





/**
 * Framework variables. We don’t need to edit these, they’re just handy
 * variables sourced from other settings.
 */
$base--spacing-unit:    $base--line-height;
